@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body { 
    @apply font-body-md text-body-md bg-surface text-on-surface overflow-x-hidden antialiased; 
  }
}

@layer utilities {
  .glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .deep-navy-bg { background-color: #0d1c33; }
  .soft-gold-text { color: #fed65b; }
  .soft-gold-bg { background-color: #fed65b; }
  .soft-gold-border { border-color: #fed65b; }
}
